# Copyright 2016, AT&T, ASTRA, and it's Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

auto {{att_vlan_2200}}
  iface {{att_vlan_2200}} inet manual
    vlan-raw-device {{att_bond1}}
    vlan_id {{att_vlid_2200}}

auto {{att_vlan_2201}}
  iface {{att_vlan_2201}} inet manual
    vlan-raw-device {{att_bond1}}
    vlan_id {{att_vlid_2201}}

auto {{att_vlan_2202}}
  iface {{att_vlan_2202}} inet manual
    vlan-raw-device {{att_bond1}}
    vlan_id {{att_vlid_2202}}

auto {{att_vlan_2098}}
  iface {{att_vlan_2098}} inet manual
    vlan-raw-device {{att_bond2}}
    vlan_id {{att_vlid_2098}}
